header.dark{
  background-color:#000;
  border :3px solid #f00;
  color:#fff;
}
footer.dark{
  background-color:#000;
  border :3px solid #f00;
  color:#fff;
}
header.light{
  background-color:#fff;
  border:3px solid black;
  color:black;
}
footer.light{
  background-color:#fff;
  border:3px solid black;
  color:black;
}